<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect www to non-www
  RewriteCond %{HTTP_HOST} ^www\.nayvohtech\.com$ [NC]
  RewriteRule ^(.*)$ https://nayvohtech.com/$1 [L,R=301]

  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^.*$ index.html [L]
</IfModule>

<IfModule mod_ssl.c>
  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
